.list{
  background-color: #fff;
  width: 450px;
  border-radius: 4px;
  padding: 1rem;
  margin: 0 auto;
}

.item {
  word-break: break-all;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

.title {
  font-size: 2em;
  margin: 1rem 0;
}

.titleInput {
  height: 1.5rem;
  width: 25rem;
}

.description {
  line-height: 1.5rem;
}