$primary-color: #b30000;
$screen-color: beige;
$border-radius: 1rem;

.pokedex {
  display: flex;
  margin: 2rem auto;
  width: 80%;
}

.pokedexDoor {
  background-color: #b30000;
  width: 50%;
  height: 80%;
  min-height: 800px;
  position: relative;
  bottom: -100px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 32%);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 32%);
}

.doorInset {
  border: inset 4px #fff;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 32%);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 32%);
  height: 700px;
  width: 80%;
  margin: 40px auto;
}

.pokedexMain {
  background-color: $primary-color;
  border-radius: $border-radius;
  width: 50%;
  height: 100%;
  min-height: 900px;
}

.pokedexHeader {

}

.circle {
  border-radius: 80px;
  height: 80px;
  width: 80px;
  background-image: linear-gradient(-90deg, #0a58ae, #6bdbff);
  border: solid #fff;
  margin: .8rem 2rem;
}

.pokedexScreen {
  background-color: $screen-color;
  width: 90%;
  margin: 20px auto;
  border-radius: $border-radius;
  min-height: 25rem;
}

