
$primary-color: #b30000;
$screen-color: beige;
$border-radius: 1rem;
$font-family: 'Noto Sans', Roboto, sans-serif;





.doorInset {
  border: inset 4px #fff;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 32%);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 32%);
  height: 700px;
  width: 80%;
  margin: 40px auto;
}

.pokedexMain {
  background-color: $primary-color;
  border-radius: $border-radius;
  width: 36%;
  height: 100%;
  min-height: 900px;
  margin: 0 auto;
}

.pokedexHeader {
  display: flex;
  align-items: center;
  position: relative;
}

.circle {
  border-radius: 80px;
  height: 80px;
  width: 80px;
  background-image: linear-gradient(-90deg, #0a58ae, #6bdbff);
  border: solid #fff;
  margin: .8rem 2rem;
}

.pokedexScreen {
  background-color: $screen-color;
  width: 90%;
  margin: 20px auto;
  border-radius: $border-radius;
  min-height: 50rem;
}

input {
  border-radius: $border-radius;
  width: 275px;
  padding: .75em;
  position: absolute;
  top: 9px;
}

.suggestionsContainer {
  padding: 1em;
  top: 25px;
  left: 122px;
  position: absolute;
}

.suggestion {
  background-color: #fff;
  font-family: $font-family;
  font-size: 16px;
  padding: 12px 6px;
  border: solid 1px grey;
  width: 275px;
}

.suggestion:first-child {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.suggestion:last-child {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

@media screen and (max-width: 430px) {
  .pokedexMain {
    margin: 0 20px;
    width: auto;
  }

  .circle {
    border-radius: 40px;
    height: 40px;
    width: 40px;
  }

  input {
    border-radius: 1rem;
    width: 171px;
    padding: .75em;
    top: 2px;
    left: 82px;
  }

}