.gallery {
  display: flex;
  flex-flow: column;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  width: 80%;
  z-index: 999;
}

.images {
  margin-top: 2.5rem;
  width: 100%;
}

svg.insta-bg {
  position: absolute;
  top: 290px;
}