.gallery {
  display: flex;
  flex-flow: row wrap;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  width: 80%;
  z-index: 999;
  max-height: 100%;
}

.images {
<<<<<<< HEAD
  margin: 2.5rem 2rem 0 0;
  max-width: 400px;
  max-height: 400px;
=======
  margin-top: 2.5rem;
  width: 100%;
>>>>>>> dc37c40efb9cd6a46d95939bd18fc0367730d331
}

svg.insta-bg {
  position: absolute;
  top: 290px;
}