.gallery {
  display: flex;
  flex-flow: row wrap;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 999;
  max-height: 100%;
}

.images {
  margin: 2.5rem 2rem 0 0;
  max-width: 400px;
  max-height: 400px;
}

svg.insta-bg {
  position: absolute;
  top: 290px;
}