/*RESETS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-color: #212121;
    margin: 0;
    padding: 0;
}

.hex-patten svg{
    opacity: .5;
}

path {
    fill: #212121;
    opacity: .2;
    stroke: #80cbc4;
    stroke-width: 1;
}

a {
    color: #80cbc4;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p,a,li {
    font-family: 'Noto Sans', Roboto, sans-serif;
}
.header{
    background-color: #000;
    display: flex;
    padding: 30px;
}

.header-text {
    color: #fff;
    line-height: 1.3em;
}

.header ul {
    display: flex;
    margin-left: 2em;
    height: 41px;
    line-height: 2em;
}

.header ul li {
    background-color: #484848;
    padding: 0 20px;
}

.header ul li:not(.selected-navlink) {
    background-color: #000;
}
.selected-navlink {
    border-bottom: 4px solid;
}

.desktop-containers-text{
    margin: 0 auto;
    max-width: 1200px;
}

.homepage-msg {
    background-color: #000;
    color: #fff;
    width: 80%;
    margin: 100px auto;
    position: absolute;
    left: 0;
    right: 0;
}
.steam-input {
    padding: 6px;
    border: solid 2px #4f9b94;
    border-right: none;
    border-radius: 3px;
}

.tech-used-box {
    display: flex;
    margin: 0 auto;
}
.tech-logos-box {
    border: solid 2px #4f9b94;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
}
.tech-used-logo {
    height: 50px;
    width: 50px;
}
.GameChart {
    background-color: #212121;
}

.project-desc-container {
    background-color: #484848;
    padding: 20px 0;
}

.GameChart h1 {
    color: #fff;
}

.personName-container {
    background-color: #212121;
    margin: 20px auto;
}

.personName {
    color: white;
}

.chart {
    font: 1em 'Noto Sans', sans-serif;
    background-color: #212121;
    text-align: right;
    padding: 3px;
    margin: 0 auto;
    display: flex;
}

.undefined-msg {
    background-color: #ffcdd2;
    border-radius: 4px;
    color: #b71c1c;
}

.undefined-msg-text {
    padding: 20px;
}

.undefined-msg-ul {
    padding: 0 20px 20px;
    font-size: 1.1em;
    font-weight: 400;
}

.undefined-msg-li {
    margin: 10px 0 0;
}

.input-btn {
    background-color: #80cbc4;
    border-style: none;
    padding: 8px 20px;
    border-radius: 4px;
    margin-left: -5px;
}
