$primary-color: rgb(81,158,236);
$primary-color-75: rgba(81,158,236, .75);
$secondary-color: #5c7393;
$alt-primary-color: rgb(11, 46, 90);

$font-family: 'Noto Sans', Roboto, sans-serif;

$border-radius: 4px;

$tablet-breakpoint: 768px;
$mobile-large: 411px;