@import "../variables";

.GameChart {
  background-color: #000;
}

.GameChart h1 {
  color: #fff;
}

.personName-container {
  background-color: #000;
  margin: 20px auto;
  width: 72%;
}

.dropdownContainer {
  margin-top: 1rem;
}

.personName {
  color: white;
}

.chart {
  font: 1em 'Noto Sans', sans-serif;
  background-color: #000;
  text-align: right;
  padding: 3px;
  margin: 0 auto;
  display: flex;
}

.steam-input {
  padding: 6px;
  border: solid 2px $secondary-color;
  border-right: none;
  border-radius: 3px;
}

.input-btn {
  background-color: $primary-color;
  border-style: none;
  padding: 8px 20px;
  border-radius: 4px;
  margin-left: -5px;
}

p.loaderTemp {
  color: #fff !important;
  font-size: 3em !important;
}

.loadingBG {
  background-color: #000000;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 23%;
  left: 40%;
  width: 500px;
  height: 500px;
  margin-top: -1px;
  margin-left: -48px;
  border-radius: 50%;
  border-top: 12px solid #fff;
  border-right: 12px solid transparent;
  animation: spinner 1s linear infinite;
}

.loadingText {
  color: #fff;
  box-sizing: border-box;
  position: absolute;
  top: 45%;
  left: 49%;
  width: 500px;
  height: 500px;
  margin-top: -1px;
  margin-left: -48px;
  font-size: 48px;
}